<!DOCTYPE html>
<html>
	<head>
		<meta charset ="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../js/bootstrap.js"></script>
		<!-- Link to our own JavaScript file-->
		<script src="../js/script.js"></script>
		<script src="../js/jquery-2.1.1.min.js"></script>
		<title>AudioNexus - Your Portal To Musicians Everywhere</title>
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
		<link href="../css/styles.css" rel="stylesheet"/>
		<link href="../css/bootstrap.css" rel="stylesheet"/>
		
	</head>
	
	<body class="mainBody">
		<header id="mainHeader">
		</header>
		
		<div id="headmiddle">
		</div>
		
		<section>
			<div class="container">
	
				<div style="margin-top:20px;"class="jumbotron">
					
					 <p style="text-align:center;">
					<span class="tclb aboutUsLogo">Audio</span><span class="tclg aboutUsLogo">Nexus</span>
					is the site to connect with musicians all around the world.
					 </p>
					 <br />
					 <p style="text-align:center;">
					 Upload your music, make friends, and collaborate!
					 </p>
					 <br />
					 <a href="../view/ANSignup.html" style="text-align:center;"><h1>Have your music be HEARD</h1></a>
					 
					 
				</div>
			</div>
			<br />
			
		</section>
		
		<footer id="mainFooter">
		</footer>

	</body>
</html>