<!DOCTYPE html>
<html>
	<head>
		<meta charset ="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../js/bootstrap.js"></script>
		<!-- Link to our own JavaScript file-->
		<script src="../js/script.js"></script>
		<script src="../js/jquery-2.1.1.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<title>AudioNexus - Ideas</title>
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
		<link href="../css/styles.css" rel="stylesheet"/>
		<link href="../css/bootstrap.css" rel="stylesheet"/>
	</head>
	
	<body class="mainBody">
		<header id="mainHeader">
		</header>
		<img alt="Picture of lightbulb head man" src="../images/ideas.png" class="imageLoad" />
		
		
		<section style="margin-top:-80px;">
			<div class="container">
				<div style="overflow:auto" class="jumbotron">
					<h2>IDEAS</h2>
					 <p style="text-align:center;">
						<a href="https://soundcloud.com/"> SoundCloud </a><br/>
						<a href="http://www.polygon.com/"> Polygon </a><br/>
						<a href="http://getbootstrap.com/"> Bootstrap </a>
					 </p>
				</div>
			</div>
		</section>
		<br>
		
		<footer id="mainFooter">
		</footer>
	</body>
</html>