<!DOCTYPE html>
<html>
	<head>
		<meta charset ="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../js/bootstrap.js"></script>
		<!-- Link to our own JavaScript file-->
		<script src="../js/script.js"></script>
		<script src="../js/jquery-2.1.1.min.js"></script>
		<title>AudioNexus - Newsletter</title>
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
		<link href="../css/styles.css" rel="stylesheet"/>
		<link href="../css/bootstrap.css" rel="stylesheet"/>
		
	</head>
	
	<body class="mainBody">
		<header id="mainHeader">
		</header>
		<br>
		
		
		<section>
		<div class="container">
		<div class="jumbotron">
		<h3>Subscribe To our newsletter</h3>
		<p>Subscribe to our newsletter to see the latest news in upcoming musicians, lessons, and
		other exciting news about Audio-Nexus. </p>
		<p><a class="btn btn-success" href="../view/ANUnderconstruction.html" role="button">Subscribe Now</a></p>
		<hr />
		<h3>February 2015</h3>
		<p>Our site is now live! <a href="../view/ANUnderconstruction.html">Sign up today</a> to connect with other musicicans now,
		and feel free to check out our <a href="../view/ANAbout.html">About</a> page to learn more about AudioNexus.</p>
		
		</div>
		</div>
		</section>
		<br>
		
		<footer id="mainFooter">
		</footer>
	</body>
</html>