<!DOCTYPE html>
<html>
	<head>
		<meta charset ="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../js/bootstrap.js"></script>
		<!-- Link to our own JavaScript file-->
		<script src="../js/script.js"></script>
		<script src="../js/jquery-2.1.1.min.js"></script>
		<title>AudioNexus - Sign Up</title>
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
		<link href="../css/styles.css" rel="stylesheet"/>
		<link href="../css/bootstrap.css" rel="stylesheet"/>
		
	</head>
	
	<body class="mainBody">
		<header id="mainHeader">
		</header>
		<br>
		
		<section>
		 <div class="container">
			 <div class="jumbotron">
			 <h3 style="text-align:center">Sign in to your account</h3>
				<form class="formFormat" action="../view/ANUnderconstruction.html">
				  Username: <input type="text" name="un"><br><br>
				  Password: <input type="text" name="pw"><br><br>
				</form>
			<p style="text-align:center"><a class="btn btn-success" href="../view/ANUnderconstruction.html" role="button">Sign In</a></p>
			</div>
		</div>
		</section>
		
		
		
		<br>
		<footer id="mainFooter">
		</footer>

	</body>
</html>