<nav class="navbar navbar-default navbar-fixed-top">
                   <div class="container-fluid">
					<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
						<a class="navbar-brand" href="../controller/controller.php?action=Index">
						   <img width="80" alt="Logo" src="../images/logo.png"/>
						</a>
						<div class="logoText"> <span class="tclb">Audio</span><span class="tclg">Nexus</span></div>
					</div>
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						  <ul class="nav navbar-nav navbar-right">
							<li><a href="../controller/controller.php?action=Index">HOME</a></li> <!-- THIS CLASS ACTIVE NEEDS TO BE FIXED -->
							<!-- <li><a href="../controller/controller.php?action=Music">MUSIC</a></li> -->
                            <li class="dropdown">
								  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">MUSIC<span class="caret"></span></a>
								  <ul class="dropdown-menu" role="menu">
									<!-- <li><a href="../controller/controller.php?action=Music">MUSIC(Hot)</a></li> -->
									<li><a href="../controller/controller.php?action=ListMusic">All Music</a></li>
									<li><a href="../controller/controller.php?action=SearchMusic">Search Music</a></li>
									<li><a href="../controller/controller.php?action=AddMusic">Add Song</a><li>
								  </ul>
							</li>
							<!-- Basically if you are an admin then u can see this -->
							<?php if(userIsAuthorized("Admin") && userIsAuthorized("FileManagement") &&userIsAuthorized("EmailSend")) { ?>
							<!-- <li><a href="../view/ANAdmin.php">ADMIN</a></li> -->
                             <li class="dropdown">
								  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ADMIN<span class="caret"></span></a>
								  <ul class="dropdown-menu" role="menu">
									<!-- <li><a href="../controller/controller.php?action=Admin">LOG IN</a></li> -->
									<li><a href="../controller/controller.php?action=FileManagement">FILE MANAGEMENT</a></li>
                                    <li class="divider"></li>
                                    <li><a href="../controller/controller.php?action=EmailSend">SEND EMAILS</a></li>
								  </ul>
							</li>
							<?php } ?>
							<li><a href="../security/">SECURITY</a></li>
							<li class="dropdown">
								  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">HELP <span class="caret"></span></a>
								  <ul class="dropdown-menu" role="menu">
									<li><a href="../controller/controller.php?action=About">ABOUT</a></li>
									<li><a href="../controller/controller.php?action=Ideas">IDEAS</a></li>
									<li class="divider"></li>
									<li><a href="../controller/controller.php?action=Checksheet">CHECKSHEET</a></li>
								  </ul>
							</li>
							<li>
							<?php 
								if (loggedIn()) {  ?>
				                <a href="../security/index.php?action=SecurityLogOut">Log Out</a>
		                        <?php } else { 
				                echo "<a href=\"../security/index.php?action=SecurityLogin&RequestedPage=" . urlencode($_SERVER['REQUEST_URI']) . "\">Log In</a>";
		                        } ?>
						    <!-- <a class="userLoginImage pull-right" href="../controller/controller.php?action=SignIn">
						     <img title="Sign In" width="50" alt="user login image" src="../images/user.png"/>
						    </a> -->
						  </li>
						  </ul>
						  
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
