<nav class="navbar navbar-default navbar-fixed-top">
                   <div class="container-fluid">
					<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
						<a class="navbar-brand" href="../view/index.php">
						   <img width="80" alt="Logo" src="../images/logo.png"/>
						</a>
						<div class="logoText"> <span class="tclb">Audio</span><span class="tclg">Nexus</span></div>
					</div>
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						  <ul class="nav navbar-nav navbar-right">
							<li><a href="../view/index.php">HOME</a></li> <!-- THIS CLASS ACTIVE NEEDS TO BE FIXED -->
							<li><a href="../view/ANMusic.php">MUSIC</a></li>
							<!-- <li><a href="../view/ANAdmin.php">ADMIN</a></li> -->
                                                        <li class="dropdown">
								  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ADMIN<span class="caret"></span></a>
								  <ul class="dropdown-menu" role="menu">
									<li><a href="../view/ANAdmin.php">LOG IN</a></li>
									<li><a href="../view/ANFileupload.php">FILE MANAGEMENT</a></li>
								  </ul>
							</li>
							<li class="dropdown">
								  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">HELP <span class="caret"></span></a>
								  <ul class="dropdown-menu" role="menu">
									<li><a href="../view/ANAbout.php">ABOUT</a></li>
									<li><a href="../view/ANIdeas.php">IDEAS</a></li>
									<li class="divider"></li>
									<li><a href="../view/checksheet.php">CHECKSHEET</a></li>
								  </ul>
							</li>
							<li>
						    <a class="userLoginImage pull-right" href="../view/ANSignup.php">
						     <img title="Sign In"width="50" alt="user login image" src="../images/user.png"/>
						    </a>
						  </li>
						  </ul>
						  
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
