/* CSS Classes */
.mainBody
{
	background-color:#3399FF;
}
/*overrrides*/
.table {
  border-color: #000;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #000;
}


/**/
.aboutUsLogo
{
	font-family:Modeno;
	font-size:30px;
}
.logoText
{
	font-family:Modeno;
	float:left;
	margin-top:25px;
	margin-right:15px;
	font-size:35px;
}
.formFormat
{
	display: inline-block;
    text-align: center;
	width:100%;
	margin: 0px auto;
}
.signInFormDiv
{
	margin: 100px auto 0px auto;
	background-color:#e7e7e7;
	width:60%;
	padding:10px;
	border-radius: 25px;
}
.imageLoad
{
	opacity:0.0;
	width:100%;
	height:300px;
	margin-top:100px;	
}
.userLoginImage
{
	margin-top:-10px;
}
.userLoginImage :hover{opacity: 0.3;}
.socialMediaIcons
{
	margin-top:20px;
}
.socialMediaIcons:hover{opacity: 0.3;}

.navbarlinks
{
	margin-top:25px;
}
.navSeparater
{
	border-right: solid black 2px;
}
.navUserSeparater
{
	border-right: solid black 2px;
	border-left: solid black 2px;
}

/* Star Ratings  */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
/*End Star Ratings*/


/* CSS Tricks */
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
	.imageLoad
	{
		opacity:0.0;
		width:100%;
		/* heig ht:300px;*/
		margin-top:100px;
		
		
	}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
	.imageLoad
	{
		opacity:0.0;
		width:100%;
		/*heigh t:300px; */
		margin-top:100px;
		
	}
}

/* Custom Fonts */
@font-face {
    font-family: Modeno;
    src: url(../fonts/Modeno_Font.ttf);
	
}

/* MICRO CLASSES */
.tclb{color:#3399FF;}
.tclg{color:#8ECC8E;}
.bl{border-left: solid black 1px;}
.br{border-right: solid black 1px; padding-right:2px; margin-right:2px;}

a:hover {
  color:black;
  
}

#mainFooter {
background-color:#e7e7e7;
/*+font-family: 'Garamond';
+font-size: 50px;
+font-weight: bold;*/
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
color:#3399FF;
text-align: center;
width:100%;
height:auto;
overflow:auto;
}

#mainFooter > a{
color:#3399FF;
}

#mainFooter > a:hover{
color: #8ECC8E;
}

#map-canvas {
        width: 400px;
        height: 300px;
		border:solid black 1px;
      }
